.matchingbox {
    display: flex;
    width: 100%;
    height: 100vh ;
    background-color:white;
    margin: 0px !important;
    padding: 0px;
    font-family: 'Raleway', sans-serif;
}

.findStudentBox {
    background-image: url('../../assets/matchingstudentbg.svg');
    background-size: cover;
    padding: 2em;
    width: 100%;
    color: white;
    height: 100%;
}

.findMentorBox {
    width: 100%;
    padding: 2em;
    height: 100%
}

.cardandArrowBox {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 3em;
}

.arrowsize {
    height: 2em !important;
    width: 2em !important;
}