.signup_bg {
    background-image: url('../../assets/bg.svg');
    width: 100%;
    height: 100vh;
    background-size: cover;
    display: flex;
    align-items: center;
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
}

.center {
    display: flex;
    justify-content: center;
    width: 100%;
    font-weight: 400;
}

h1 {
    font-family: 'Raleway', sans-serif;
    font-weight: bold; 
}

.register {
    font-family: 'Raleway', sans-serif;
}