.signup_bg {
    background-image: url('../../assets/bg.svg');
    width: 100%;
    height: 100vh;
    background-size: cover;
    display: flex;
    align-items: center;
}

.center {
    display: flex;
    justify-content: center;
    width: 100%;
}