.box {
    display: flex;
    width: 100%;
    height: 100vh ;
    background-color: #F9FAFB;
    margin: 0px !important;
    padding: 0px;
    flex-direction: column;
    font-family: 'Raleway', sans-serif;
}

.postContainer {
    display: flex;
    background-color: white;
    border-style: solid;
    border-width: 2px;
    border-color: #E9E5DF;
    border-radius: 8px;
    margin: 2em;
    margin-left: 4em;
    margin-right: 4em;
    flex-direction: column;
    padding: 2em;
}

.postNameDate {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.nameImg {
    display: flex;
    flex-wrap: wrap;
}

.posterImg {
    border-radius: 50%;
    width: 25px;
    height: 25px;
    margin-right: 10px;
  }

.postTitle {
    color: #5680E9;
    font-weight: 900;
} 
  
.postCopyContainer {
    display: flex;

}

.date {
    color: grey;
}

.time {
    color: grey;
    margin-bottom: 2em;
}

.favoriteBtn {
    display: flex;
    justify-content: flex-end;
    margin-left: 4em;
    margin-right: 4em;
}

.mlmr {
    margin-left: 4em;
    margin-right: 4em;
}

.commentAs {
    color: #8860D0;
    margin-top: 1em;
}

.commentBy {
    color: #5680E9;
    margin-top: 1em;
}

p {
    margin-bottom: 0px;
}

.submitCommentBox {
    display: flex;
    justify-content: flex-end;
    background-color: #5680E9;
    padding: 10px;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}

.submitBtn {
    border-color: white !important;
    border-width: 2px !important;
    background-color: transparent !important;
}