@import-normalize;
@import './components/List/List.css';

@media only screen and (min-width: 1200px) {
    .container {
        width: 100%;
        margin: 0px;
        max-width: 1400px;
    }

}

hr {
    margin: 0;
    align-self: stretch;
  }
/* html, body {
    overflow-x: hidden;
    } */