.container-flex {
    display: flex;
    height: 100vh;
    width: 100%;
}

.infoContainer {
    display: flex;
    flex-direction: column;
    background-color:white;
    height: 100vh;
    width: 100%;
    padding-top: 3em;
    padding-left: 2em !important;
    padding-right: 2em !important;
}

.nav-link:hover span{
    font-weight: bold !important;
}



@media only screen and (max-width: 1214px) {
    #sidebarContainer {
        flex: 0 0 100%;
        max-width: 100%;
    }

    #formContainer {
        margin-left: 0px !important;
    }

    #sidebarNav {
        text-align: left !important;
        padding-bottom: 20px;
    }
}