.container-flex {
    display: flex;
    height: 100vh;
    width: 100%;
}

.infoContainer {
    display: flex;
    flex-direction: column;
    background-color:white;
    height: 100vh;
    width: 100%;
    padding-top: 3em;
    padding-left: 2em !important;
    padding-right: 2em !important;
}