.profile-photo {
    display: flex !important;
    flex-wrap: wrap !important;
    justify-content: space-between !important;
    align-items: center !important;
}

.card {
    width: 100% !important;
    max-width: 700px !important;
}

.hover a:hover {
    opacity: 1;
  }