
.profileBtn {
    width: 100% !important;
    background-color: #8860D0 !important;
    border-style: none !important;
}

.card {
    width: 60% !important;
}

.bulletsforCard {
    display: flex;
    text-align: left;
    justify-content: center;
}

#mentorCardStyle {
    max-width: 25rem !important;
    margin-left: 10px;
    margin-right: 10px;
}
