.side-bar {
    background-color: rgb(136, 96, 208); 
    height: 100%;
  }

  .side-bar a {
    color: white;
  }

  .side-bar a:hover {
    color: white;
    opacity: .5;
  }

  .selected {
    font-weight: bold;
  }

  
  #color-grad {
    background-color: red; /* For browsers that do not support gradients */
    background-image: linear-gradient(#5680e9, #8860D0);
  }

  #sidebarNav {
    margin-top: 3em !important;
    color: white !important;
    text-align: right !important;
  }

  h4 {
    font-family: 'Raleway', sans-serif;
  }
  
  h6 {
    font-family: 'Raleway', sans-serif;
  }
  
  .side-bar a>.active {
    font-weight: 900 !important;
  }
  
  hr {
    background-color: white !important;
  }