.side-bar {
    background-color: rgb(136, 96, 208); 
  }
  
  #color-grad {
    background-color: red; /* For browsers that do not support gradients */
    background-image: linear-gradient(#5680e9, #8860D0);
  }