/* html, body {
  height: 100%;
} */

.profileSetGenSideBar {
  display: flex;
  flex-direction: row; 
  height: 100% !important;
  color: white; 
}

.updateSkills {
  height: 30%;  
  width: 70%;
  padding-left: 30px;
}

.profileSetTable {
  display: flex; 
  flex-direction: column;
}

.col-md-4 {
  display: flex; 
  flex-direction: column;
  padding: 1rem;
  color: #8860D0 !important;
  text-align: center;
  font-family: 'Raleway', sans-serif;
  font-weight: bold;
  font-size: 18px;
}
  

  .skill-title {
    color: black !important; 
    font-weight: 400;
  }

  .checklistGrid {
    margin: 2em; 
  }
 
  #skill-btn {
    display: flex;
    float: right; 
    margin: 6em;
  }

  #setGenBtn {
  
	text-decoration: none;
	color: #e7dd84;

}

/* visited link */
a:visited {
  color: white;
}

h5 {
  font-family: 'Raleway', sans-serif;
}

#checkbox1 {
  box-shadow: none;
}

#checkbox2 {
  box-shadow: none;
}