.list-group-item {
  display: flex !important;
  justify-content: space-between !important;
  border-style: solid !important;
  border-width: 2px !important;
  border-color: #E9E5DF !important;
  background-color: #F6F6F6 !important;
  border-radius: 8px !important;
  margin: 10px !important;
}

.list-group-item:first-child {
  border-top-left-radius: 8px !important;
  border-top-right-radius: 8px !important;
}

.list-group-item:last-child {
  border-bottom-left-radius: 8px !important;
  border-bottom-right-radius: 8px !important;
}

.poster {
  margin-right: 10px;
}

.nameandImgContainer {
  display: flex;
  align-items: center;

}

.posterImg {
  border-radius: 50%;
  width: 25px;
  height: 25px;
}

.followArrow {
  color: #5680E9 !important;
}